<div id="message-<%= message.id %>">
  <div class="mycomment"><%= simple_format(message.content) %></div>
  <% if message.checked == true %> 
    <h5>既読<h5>
  <% else %>
    <h5 class="unread">未読<h5>
  <% end %>
  <h5 class="message-time"><%= message.created_at.strftime("%Y年%m月%d日 %H:%M") %></h5>
  <button id="<%= message.id %>" class="delete-btn dm">削除</button>
</div>
