<% provide :title, "パスワードがわからない場合" %>

<div class="container">
  <div class="form-heading"></div>
    <div class="form login-form">
      <div class="form-body">
        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>
        
        <%= form_with url: "/password_resets", local: true, method: :post do |form| %>
          <h2 class="password-reset">登録したメールアドレスを入力してください</h2>
          <p>メールアドレス</p>
          <%= form.text_field :email, value: params[:email] %>
          <%= form.submit value: "送信" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
