<% provide :title, "通知" %>
<% if @notices.any? %>
  <% breadcrumb :notice %>
<% else %>
  <% breadcrumb :no_notice %>
<% end %>

<div class="container">
  <%= render partial: "/notices/notice", collection: @latest_notices %>
    
  <% if @latest_notices.any? %>
    <div class="notice-remind">
      <h3>----------ここまでが未読の通知です----------</h3>
    </div>
  <% end %>
    
  <%= render partial: "/notices/notice", collection: @old_notices %>
    
  <% if @notices.any? %>
    <div class="delete-notice">
      <%= link_to "削除する", "/notices/destroy", method: :delete %>
    </div>
    <div class="clear"></div>
  <% end %>
</div>