
  <div class="posts-index-item">
    <div class="post-left">
      <%= image_tag review.user.image.url %>
    </div>
    <div class="post-right">
      <%= link_to(review.content, "/review") %>
    </div>
  </div>