
  <div class="posts-index-item">
    <div class="post-left">
      <%= image_tag user.image.url %>
    </div>
    <div class="post-right">
      <%= link_to(user.name, "/review") %>
    </div>
  </div>