<footer>
  <div class="footer-wrapper">
    <!--
    <div class="footer-menu">
      <span>
        <a>サイトのご利用について</a>
        <span class="footer-division">|</span>
      </span>
        
      <span>
        <a>プライバシーポリシー</a>
        <span class="footer-division">|</span>  
      </span>
        
      <span>
        <a>個人情報保護法に基づく公表事項</a>
      </span>
    </div>
    -->
    
    <div class="footer-end">
      <p>CHILLED REVIEW SERVICE ©CHILL℃ ALL RIGHTS RESERVED.</p>
    </div>
  </div>
</footer>