<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">メッセージを送る相手を選んでください</h1>
    <% @users.each do |user| %>
      <div class="users-index-item">
        <div class="user-left">
          <%= image_tag user.image.url %>
        </div>
        <div class="user-right">
          <%= link_to(user.name, "/users/#{user.id}/room/#{@current_user.room_id(user)}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>