<div class="main posts-index">
  <div class="container">
    <% @items.each do |item| %>
      <div class="posts-index-item">
        <%= link_to(item.title, item) %>
      </div>
    <% end %>
  </div>
</div>