<% breadcrumb :item_show, @item %>
<div class="container">
  <%= render "detail" %>
  <div class="review-count">
    <h3>この商品のレビュー <%= @reviews.count %>件</h3>
  </div>
  <%= render partial: "items/review", collection: @reviews %>
</div>
