/* home/top ================================ */
.scroll-title {
  margin-top: 20px;
  text-align: center;
  font-size: 2.3rem;
}

.horizontal-list {
  overflow-x: scroll;
  display: flex;
}

.review-scroll-wrapper {
  min-width: 400px;
  margin: 16px;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  border-radius: 10px;
  padding: 15px 15px 10px 15px;
}

.review-scroll-title {
  font-size: 1.4rem;
  font-weight: 800;
  border-bottom: solid 1px #ccc;
  margin-bottom: 10px;
  padding-bottom: 3px;
}

.review-scroll-userimage img {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  float: left;
  object-fit: cover;
}

.review-scroll-userside {
  margin-left: 50px;
  height: 52px;
}

.review-scroll-username {
  padding-left: 1px;
  font-size: 1.4rem;
  font-weight: 600;
}

.review-scroll-time {
  font-size: 1.2rem;
  color: #7e7e7e;
}

.review-scroll-score {
  text-align: left;
  font-size: 1.4rem;
  font-weight: 600;
  color: #FFA500;
}

.review-scroll-content {
  font-size: 1.2rem;
}

.review-scroll-content-wrapper {
  height: 35px;
}

.review-scroll-span {
  text-align: right;
  text-decoration: underline;
  margin: 3px 0;
}

.review-scroll-image img {
  width: 370px;
  height: 260px;
  object-fit: cover;
}

.review-scroll-end {
  margin-top: 5px;
  padding-top: 8px;
  border-top: 1px solid #ccc;
  font-size: 1.4rem;
}

.review-scroll-margin {
  margin-right: 3px;
}

.item-box {
  min-width: 300px;
  margin: 16px;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  border-radius: 10px;
  padding: 15px 15px;
}

.item-scroll-image {
  width: 100%;
}
