/* rooms/index ================================ */
.users-heading {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 4.8rem;
  color: #bcc8d4;
}

.users-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  display: table;
  width: 100%;
}

.user-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.user-name a {
  font-weight: 600;
  font-size: 1.4rem;
}

.user-name a:hover {
  color: #3ecdc6;
}

.user-left {
  float: left;
  width: 10%;
}

.user-right {
  width: 90%;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}

.user-right a {
  font-weight: 800;
}

.unread-message-count {
  font-size: 1.2rem;
  color: #7e7e7e;
}

.line-bc {
  padding: 20px 10px;
  max-width: 450px;
  min-height: 400px;
  margin: 15px auto;
  text-align: right;
  font-size: 1.4rem;
  background: #7da4cd;
  border-radius: 25px;
}

/*以下、②左側のコメント*/
.balloon6 {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.balloon6 h5 {
  text-align: left;
}

.balloon6 .faceicon {
  float: left;
  margin-right: -50px;
  width: 45px;
  height: 45px;
  object-fit: cover
  
}

.balloon6 .faceicon img{
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
}

.balloon6 .chatting {
  width: 100%;
  text-align: left;
}

.chatting {
  margin: 10px 0;
}
.says {
  display: inline-block;
  position: relative; 
  margin: 0 0 0 60px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px; 
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says p {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
}

/*以下、③右側の緑コメント*/
.mycomment {
  margin: 10px 0;
}
.mycomment p {
  display: inline-block;
  position: relative; 
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #51fa70;
  font-size: 1.4rem;
  text-align: left;
}

.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px; 
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #51fa70;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.dm.delete-btn {
  border: 1px solid #ccc;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 1.2rem;
  color: #4a535a;
}

.dm-form {
  text-align: center;
}

.dm-form textarea {
  width: 450px;
  height: 60px;
  font-size: 14px;
}

.speak-btn {
  font-size: 1.4rem;
}

.speak-btn-wrapper {
  width: 450px;
  margin: 0 auto;
}

.message-time {
  font-weight: 100;
}