:root {
  --header-height: 64px;
}

* {
  box-sizing: border-box;
}

html {
  font: 62.5%/1.5 -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', meiryo, '游ゴシック Medium', sans-serif;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2d3133;
  font-size: 1.4rem;
}

a:hover {
  color: #4670ac;
  text-decoration: underline;
}

img:hover {
  opacity: 0.9;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input {
  //background-color: transparent;
  //outline-width: 0;
}

form input[type="submit"] {
  border: none;
  cursor: pointer;
}

/* 共通レイアウト ================================ */
body {
  color: #2d3133;
  background-color: rgb(255,255,255);
  margin: 0;
  min-height: 1vh;
}

.main {
  padding-top: var(--header-height);
  padding-bottom: 40px;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #f4f4f4;
}

.breadcrumbs {
  margin: 30px 0px 30px 25px;
  padding-left: 10px;
  color: #909090;
  font-size: 1.5rem;
}

.breadcrumbs a {
  padding-right: 5px;
  padding-left: 5px;
  color: #909090;
  font-size: 1.5rem;
}

.breadcrumbs span {
  padding-left: 5px;
  color: #555;
}

.container {
  max-width: 1000px;
  margin: 0px auto 60px auto;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
}

/* ヘッダー ================================ */
header {
  height: var(--header-height);
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 15px #c1ced7;
}

.header-logo img {
  float: left;
  margin-top: 2px;
  margin-left: 25px;
  height: 56px;
}

.search-memu form {
  float: left;
  padding: 18px 10px;
  margin-left: 30px;
}

.search-menu input {
  width: 200px;
  height: 60px;
}

input#keyword {
  border: 1px solid #999;
  padding: 5px 10px;
  border-radius: 3px;
  overflow: hidden;
  min-width: 250px;
  width: 80%;
  font-size: 1.4rem;
}

button[type="submit"]#search-btn {
  padding: 5px;
  border: 1px solid #999;
  border-radius: 3px
}

.right-menu-wrapper {
 min-width: 500px; 
}

.header-menus {
  float: right;
  padding-right: 20px;
}

.header-menus img {
  float: left;
  width: 47px;
  height: 47px;
  border-radius: 100%;
  margin: 10px 0;
  object-fit: cover;
}

.header-menus li {
  float: left;
  line-height: 64px;
  font-size: 1.3rem;
  padding-left: 15px;
}

.header-menus a {
  float: left;
  font-size: 1.4rem;
  color: #777;
}

.header-menus {
  font-weight: 900;
}

.header-menus span:hover {
  text-decoration: underline;
}

.header-username {
  padding-left: 8px;
}

/* フッター ================================ */

.footer-wrapper {
  min-height: 80px;
  height: auto;
}

.footer-menu {
  margin-top: 30px;
  text-align: center;
  font-size: 1.4rem;
}

.footer-division {
  padding: 0 10px;
}

.footer-end {
  margin-top: 14px;
  text-align: center;
  font-size: 1.0rem;
}

/* フォーム共通================================ */
.form {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
}

.form-heading {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 4.8rem;
  color: #bcc8d4;
}

.form-body {
  padding: 30px;
}

.form-error {
  color: #ff4d75;
  font-size: 1.4rem;
}

.form input {
  width: 100%;
  border: 1px solid #d8dadf;
  padding: 10px;
  color: #57575f;
  font-size: 1.6rem;
  letter-spacing: 2px;
  border-radius: 2px;
}

.form textarea {
  width: 100%;
  min-height: 110px;
  font-size: 16px;
  letter-spacing: 2px;
}

.form input[type="submit"] {
  background-color: #3ecdc6;
  color: white;
  cursor: pointer;
  font-weight: 300;
  width: 120px;
  border-radius: 2px;
  margin-top: 8px;
  margin-bottom: 0;
  float: right;
}

.form-body:after {
  content: '';
  display: table;
  clear: both;
}

.form p,
.form span {
  font-size: 1.4rem;
}

/* ログインフォーム================================ */
input#remember_me {
  width: 20px;
  margin: 0;
}

.login-pw-form input {
  margin-bottom: 15px;
}

.forget-password-link {
  font-size: 1.2rem;
  color: #7e7e7e;
}

/* ログインフォーム================================ */
.password-reset {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 5px;
}

/* ユーザ登録フォーム================================ */
.users-form input {
  margin-bottom: 15px;
}

.upload-user-image img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

/* 商品登録フォーム================================ */
.items-form input {
  margin-bottom: 15px;
}

.upload-image img {
  object-fit: cover;
  width: 160px;
  height: 110px;
  margin-right: 8px;
}

textarea#item_content {
  border: 1px solid #d8dadf;
}

.manufacturer.new,
.category.new {
  display: none;
}

.manufacturer-select button,
.category-select button {
  border: none;
  background-color: white;
  padding: 0;
}

.manufacturer-select button:hover,
.category-select button:hover {
  color: #4670ac;
  text-decoration: underline;
}

select#item_manufacturer_id,
select#item_category_id,
select#review_score {
  margin-bottom: 15px;
  border: 1px solid #d8dadf;
  width: 100%;
  height: 40px;
}

/* フラッシュ ================================ */
.flash {
  padding: 10px 0;
  color: white;
  background: rgb(251, 170, 88);
  text-align: center;
  position: absolute;
  top: 64px;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}

/* float解除 ================================ */
.clear {
  clear: both;
}

/* ★評価 ================================ */
.score {
  position: relative;
  left: 93px;
  top: -27px;
  color: #FFA500;
  font-weight: 600;
}

.rate {
  position: relative;
  display: inline-block;
}

.rate:before,
.rate:after {
  content: "★★★★★";
}

.rate:before {
  color: #ccc;
}

.rate:after {
  position: absolute;
  left:0;
  top:0;
  color: #FFA500;
  overflow: hidden;
}

.rate.rate0:after {
  width: 0;
}

.rate.rate1:after {
  width: 0.1em;
}

.rate.rate2:after {
  width: 0.2em;
}

.rate.rate3:after {
  width: 0.3em;
}

.rate.rate4:after {
  width: 0.4em;
}

.rate.rate5:after {
  width: 0.5em;
}

.rate.rate6:after {
  width: 0.6em;
}

.rate.rate7:after {
  width: 0.7em;
}

.rate.rate8:after {
  width: 0.8em;
}

.rate.rate9:after {
  width: 0.9em;
}

.rate.rate10:after {
  width: 1.0em;
}

.rate.rate11:after {
  width: 1.1em;
}

.rate.rate12:after {
  width: 1.2em;
}

.rate.rate13:after {
  width: 1.3em;
}

.rate.rate14:after {
  width: 1.4em;
}

.rate.rate15:after {
  width: 1.5em;
}

.rate.rate16:after {
  width: 1.6em;
}

.rate.rate17:after {
  width: 1.7em;
}

.rate.rate18:after {
  width: 1.8em;
}

.rate.rate19:after {
  width: 1.9em;
}

.rate.rate20:after {
  width: 2.0em;
}

.rate.rate21:after {
  width: 2.1em;
}

.rate.rate22:after {
  width: 2.2em;
}

.rate.rate23:after {
  width: 2.3em;
}

.rate.rate24:after {
  width: 2.4em;
}

.rate.rate25:after {
  width: 2.5em;
}

.rate.rate26:after {
  width: 2.6em;
}

.rate.rate27:after {
  width: 2.7em;
}

.rate.rate28:after {
  width: 2.8em;
}

.rate.rate29:after {
  width: 2.9em;
}

.rate.rate30:after {
  width: 3.0em;
}

.rate.rate31:after {
  width: 3.1em;
}

.rate.rate32:after {
  width: 3.2em;
}

.rate.rate33:after {
  width: 3.3em;
}

.rate.rate34:after {
  width: 3.4em;
}

.rate.rate35:after {
  width: 3.5em;
}

.rate.rate36:after {
  width: 3.6em;
}

.rate.rate37:after {
  width: 3.7em;
}

.rate.rate38:after {
  width: 3.8em;
}

.rate.rate39:after {
  width: 3.9em;
}

.rate.rate40:after {
  width: 4.0em;
}

.rate.rate41:after {
  width: 4.1em;
}

.rate.rate42:after {
  width: 4.2em;
}

.rate.rate43:after {
  width: 4.3em;
}

.rate.rate44:after {
  width: 4.4em;
}

.rate.rate45:after {
  width: 4.5em;
}

.rate.rate46:after {
  width: 4.6em;
}

.rate.rate47:after {
  width: 4.7em;
}

.rate.rate48:after {
  width: 4.8em;
}

.rate.rate49:after {
  width: 4.9em;
}

.rate.rate50:after {
  width: 5.0em;
}

/* 検索 ================================ */
.search-digest {
  font-size: 2.0rem;
  text-align: center;
}

.search-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.search-show-item img {
  width: 96px;
  height: 85px;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.search-item-wrapper {
  padding-left: 112px;
}

.search-item-wrapper.search-user {
  padding-left: 80px;
}

.search-show-item {
  float: left;
}

.search-item-title {
  float: left;
  width: 90%;
  padding-bottom: 5px;
  text-align: left;
  font-weight: 600;
}

.search-item-description, .search-review-description {
  font-size: 1.2rem;
  width: 90%;
  text-align: left;
  padding-bottom: 5px;
}

.search-item-description p {
  font-size: 1.2rem;
  color: #7e7e7e;
}

.search-review-title {
  font-weight: 600;
}

.search-review-end {
  font-size: 1.4rem;
}

.show-tag-image img {
  opacity: 0.5;
  height: 50px;
  box-shadow: 0 0 0 #fff;
}

.search-show-userimage img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 70%;
  box-shadow: none;
}

.search-user-block,
.search-user-follow {
  font-size: 1.2rem;
  position: relative;
  top: -0.5px;
}

.search-no-option a {
  font-size: 1.2rem;
}

.active-icon {
  position: relative;
  color: #8aff19;
  font-size: 3.0rem;
  top: -55px;
  left: -4px;
}

.active-icon.override {
  position: relative;
  color: #8aff19;
  font-size: 3.0rem;
  top: -24px;
  left: 47px;
}

/* 通知 ================================ */
.delete-notice {
  float: right;
  margin-top: 20px;
  width: 83px;
  color: #683e01;
  font-size: 2.0rem;
  font-weight: 800;
  border-radius: 17px;
  padding: 4px 12px; 
  background-color: #f8efdb;
  border: 1px solid #ccc;
}

.no-notice {
  text-align: center;
  font-size: 3.0rem;
}

.notice-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.notice-left img {
  width: 55px;
  height: 55px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.notice-username {
  font-weight: 800;
}

.notice-left {
  float: left;
}

.notice-right {
  float: left;
  width: 90%;
  padding-left: 25px;
  text-align: left;
}

.override-review div {
  background-color: #fff8f8;
  box-shadow: none;
}

.override-review {
  border: 1px solid #ccc;
}

.notice-title {
  margin-bottom: 5px;
  font-size: 1.4rem;
}

.notice-time {
  font-size: 1.2rem;
  color: #7e7e7e;
}

.notice-comment {
  font-size: 1.4rem;
  padding-bottom: 5px;
}

.notice-commentlike a {
  font-size: 1.4rem;
}

.notice-remind {
  font-size: 1.2rem;
  text-align: center; 
  margin: 20px;
  color: #7e7e7e;
}

